.spanTitle {
  /* font-family: 'Montez', cursive;
  color: blue;
  margin-top: 1px;
  margin-bottom: 0px; */
  color: blue;
  font-family: "Montez", cursive;
  font-size: 35px;
}
.subtitle {
  font-family: 'Ubuntu Mono', monospace;
  margin-top: 0px;
  display: block;
}
#HeaderButtons {
  position: absolute;
  top: 8px;
  right: 10px;
}
.signButtons {
  background-color: blue;
  border: whitesmoke;
  border-radius: 2px;
  text-align: center;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  font-size:15px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  width: 400px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/* The Close Button */
.close {
position: absolute;
top: 20px;
right: 10px;
}
.close:hover,
.close:focus {
  cursor: pointer; 
}
.modal-body {padding: 2px 16px;}
.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: gray;
}
hr {
    margin: 0 18px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ededed;
  font-size: 14px;
}
label {
  font-family:sans-serif;
}

.submitButtons {
  width: 100%;
  background-color: green;
  margin: 15px 0px;
  padding: 10px;
  border: none;
  color: white;
} 
.signInPara {
text-align: center;
font-family: sans-serif;
display: block;
}
a {
text-decoration: none;
}

#modal-footer-signup {
  cursor: pointer;
  color: blue;
}
